<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} </title>
  <link rel="stylesheet" href="{{ base_path ~ directory }}/css/style.css">
</head>
<body>
  <header>
    {{ page.header }}
  </header>
  <main>
   {{ page.content }}
  </main>
  <footer>
    {{ page.footer }}
  </footer>
  <script src="{{ base_path ~ directory }}/js/script.js"></script>
</body>
</html>